
a {}

div.sources_btn {
	position: fixed;
	left: 0px;
	top: 45%;
	height: 24px;
	width: 150px;
	cursor: pointer;
	font-family: "Helvetica";
	font-size: 16px;
	font-weight: bold;
	color: black;
	text-shadow: 0px 1px 0px white;
	background-color: #BCBCBC;
	filter:alpha(opacity=50);
	opacity: 0.5;
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;

	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	text-align: center;
	padding-top: 6px;

	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

	-moz-box-shadow: -1px 1px 6px #000;
	-webkit-box-shadow: -1px 1px 6px #000;
	box-shadow: -1px 1px 6px #000;
	
	z-index:99999;
}

.source_code {
	text-align: left;
}

pre.prettyprint{
	padding:2px;
	border: none !important;
}

.str{color:#080}.kwd{color:#008}.com{color:#800}.typ{color:#606}.lit{color:#066}.pun{color:#660}.pln{color:#000}.tag{color:#008}.atn{color:#606}.atv{color:#080}.dec{color:#606}pre.prettyprint{padding:2px;border:1px solid #888}ol.linenums{margin-top:0;margin-bottom:0}li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8{list-style:none}li.L1,li.L3,li.L5,li.L7,li.L9{background:#eee}@media print{.str{color:#060}.kwd{color:#006;font-weight:bold}.com{color:#600;font-style:italic}.typ{color:#404;font-weight:bold}.lit{color:#044}.pun{color:#440}.pln{color:#000}.tag{color:#006;font-weight:bold}.atn{color:#404}.atv{color:#060}}